.logo {
    height: 50px;
    width: 50px;
}

.header{
    position: relative;
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    font-size: 45px;
}
h3{
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}